<html>
<head>
  <a href="{{ url_for('index') }}"><button>Home</button></a>
  <a href="{{ url_for('schedule') }}"><button>Scheduling</button></a>
  <a href="{{ url_for('export') }}"><button>Export</button></a>
  <h1>Cycle Stats</h1>
</head>
<body>
  <h2>Strava API</h2>
  <input type="radio" id="auth-type-env-var">
  <label for="auth-type-env-va">Environmental Variable</label>

  <input type="radio" id="auth-type-input">
  <label for="auth-type-input">Form Input</label><br>

  <label for="auth-tok">Authorization Token:</label>
  <input type="text" id="auth-tok"><br>

  <label for="client-id">Client Id:</label>
  <input type="text" id="client-id"><br><br>

  <h3>PostgreSQL Database</h3>

  <label for="host">Host:</label>
  <input type="text" id="host"><br>

  <label for="db">Database:</label>
  <input type="text" id="db"><br>

  <label for="usr">Username:</label>
  <input type="text" id="usr"><br>

  <label for="pwd">Password:</label>
  <input type="text" id="pwd"><br>

  Units:<br>
  <input type="radio" id="units-imp">
  <label for="units-imp">Imperial</label>
  <input type="radio" id="units-met">
  <label for="units-met">Metric</label>

  <p>Strava API calls in the past 15 minutes: 0/100</p>
  <p>Strava API calls during the current day: 0/1000</p>

  <button>Connect to Postgres DB</button>

  <h1>Get Data from Strava API</h1>
  <button>GET Activities</button>
  <button>GET Athlete</button>
  <button>GET Streams</button>
  <button>GET ALL</button><br>

  <h2>Processing</h2>
  <button>Process Activities</button>
</body>
</html>